<%- include("header") -%>
<div id="front-card" class="card front-card text-white bg-primary">
  <div class="card-body">
    <h5 class="card-title">Klove</h5>
    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
    <p id="compose"><a class="get-started btn btn-dark" href="/prefrences">Get Started</a></p>
  </div>
</div>
<%- include("footer") -%>